main {
	margin-bottom: 15px;
}

form {
	background-color: #e6e6e6; /* rgba(0,0,0,.1) = #e6e6e6 */
	box-shadow: 0px 0px 5px rgba(0,0,0,.5);
	padding: 5px 15px 15px 15px;
}

.modal-title {
	color: #337ab7;
}
.valor, #label-valor, #somar, #res_valor {
	width: 50%;
	float: left;
}

.peso, #label-peso, #resetar, #res_peso {
	width: 50%;
	float: rigth;
}

#somar, #resetar {
	margin: 5px 0px 5px 0px;
}

#total {
	width: 100%;
	border-bottom: 1px solid #c0c0c0;
}

#dicas-lista li {
	padding-bottom: 10px;
}
